.tile-open {
  background-color: #304859;
  color: #304859;
  border: 1px solid white;
  border-radius: 5px;
}

.tile-open img {
  display: none;
}

.tile-close {
  background-color: #bcced9;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.tile-close img {
  display: block;
  height: auto;
  width: 100%;
}
